{% extends 'base.html' %}

{% block title %} Direcciones | {% endblock %}
{% block content %}
<div class="pt-2 px-md-4 mb-3 bg-white border-bottom shadow-sm" id="search-query">
   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: white;">
            <li class="breadcrumb-item"><a href="{% url 'frontpage' %}" style="color: black;">Inicio</a></li>
            <li class="breadcrumb-item active" >Mis Direcciones</li>

        </ol>
 
    </nav>
</div>


<div class="container">
    <h3 class="font-weight-bold">Direcciones</h3>
      <div class="row mt-4">

        <div class="col-md-4 mb-3">
          <div class="card view-overlay h-100">
            <a href="{% url 'address_create' %}" style="color:black;" class="my-auto" >
              <div class="card-body text-center my-auto ">
                <div class="mask rgba-white">
                <i class="fas fa-plus  fa-3x"></i>
                <h4 class="mt-4">Añadir Dirección</h4>
                

                </div>

              </div>
            </a>

          </div>
        </div>
        {% for address in address %}
        <div class="col-md-4 mb-3">
            <div class="card p-2">
                <div class="card-body">
                    <p class="font-weight-bold card-text" style="color: black">{{address.full_name}}</p>
                    <p class="card-text" style="color: black; line-height: 120%;">{{address.address_1}}</p>
                    <p class="card-text">{{address.city}}</p>
                    <p class="card-text">Telefono: {{address.phone}}</p>
                    <br>
                    <hr>
                    <a href="{% url 'update-address' address.id %}" class="">Editar  | </a>
                    <a href="{% url 'address-delete' address.id %}" class="">Eliminar </a>

                </div>
                
            </div>
        </div>
        {% endfor %}

      </div>


  
    
    
</div>


{% endblock %}