{% extends 'base.html' %}

{% block title %}{{ category.title }} | {% endblock %}
{% block content %}
<div class="pt-2 px-md-4 mb-3 bg-white border-bottom shadow-sm" id="search-query">
   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: white;">
            <li class="breadcrumb-item"><a href="{% url 'frontpage' %}" style="color: black;">Inicio</a></li>
            {% if category.parent %}
                <li class="breadcrumb-item" ><a href="{% url 'category_detail' category.parent.slug %}" style="color: black;">{{category.parent.title}}</a></li>
            {% endif %}
                <li class="breadcrumb-item active" >{{category.title}}</li>
        </ol>
 
    </nav>
</div>


<div class="container wow fadeIn">
    <div class="row">
        <div class="col-12 col-sm-3">
            <h4 class="d-flex justify-content-between align-items-center mb-3">Filtro</h4>

            <form action="{% url 'category_detail' category.slug %}" method="GET">

                <div class="form-group">
                    <label >Marca</label>
                    {% for brand in q %}
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" {% if brand.brand in marca %}checked{% endif %} class="custom-control-input" id="{{brand.brand}}" name="test" value="{{brand.brand}}">

                        <label class="custom-control-label" for="{{brand.brand}}" style="cursor: pointer;">{{brand.brand}}</label>
                        </div>
                    {% endfor %}

                </div>

                <div class="form-group">
                    <label for="pricemin">Precio minimo</label>
                    <input type="number" min=0 class="form-control" id="pricemin" name="price_min" placeholder="0" value="{{pricemin}}">
                </div>
                <div class="form-group">
                    <label for="pricemax">Precio Maximo</label>
                    <input type="number" min=0 class="form-control" id="pricemax" name="price_max" placeholder="10000?" value="{{pricemax}}">
                </div>
                
                <p>Ordenar por:</p>
                <div class="form-group">
                    <select id="sorting" class="form-control browser-default custom-select" name="sorting" id="">

                            <option value="-date_added"{% if sorting == '-date_added' %} selected{% endif %}>Ultimo-primero</option>
                            <option value="price"{% if sorting == 'price'%} selected{% endif %}>Precio bajo-alto</option>
                            <option value="-price"{% if sorting == '-price'%} selected{% endif %}>Precio alto-bajo</option>
                    </select>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="featured" name="featured" {% if featured %} checked="checked" {%endif%}>
                    <label class="custom-control-label" for="featured" style="cursor: pointer;">Destacados</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="discount" name="discount"{% if discount %} checked="checked" {%endif%}>
                    <label class="custom-control-label" for="discount" style="cursor: pointer;">Descuento</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="new" name="new" {% if new %} checked="checked" {%endif%}>
                    <label class="custom-control-label" for="new" style="cursor: pointer;">Novedad</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="review">Puntuacion</label>
                    <select id="review" class="form-control browser-default custom-select" name="review" id="" >
                       <option selected >Estrellas</option> 
                            <option value="1" {% if review == '1' %} selected{% endif %}>1</option>
                            <option value="2" {% if review == '2' %} selected{% endif %}>2</option>
                            <option value="3" {% if review == '3' %} selected{% endif %}>3</option>
                            <option value="4" {% if review == '4' %} selected{% endif %}>4</option>
                            <option value="5" {% if review == '5' %} selected{% endif %}>5</option>

                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Filtrar</button>
                

            </form>


        </div>
        <div class="col">
            <div class="row">
                {% if products|length == 0 %}
                    <h5>
                        No se encontraron resultados
                    </h5>
                {% else %}

                {% for product in products %}
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card card-ecommerce">
                            <div class="view overlay">
                                <img src="{{ product.thumbnail.url}}" class="img-fluid mx-auto d-block" alt="">
                                <a href="{% url 'product_detail' product.category.slug product.slug %}">
                                    <div class="mask rgba-white-light">

                                    </div>
                                </a>
                            </div>

                            <div class="card-body">
                                <h6 class="card-title mb-1">
                                <strong><a href="{% url 'product_detail' product.category.slug product.slug %}" class="dark-grey-text">{{product.name}}</a></strong> 
                                </h6>                   

                                <p class="card-text">Puntuación: {% if product.get_rating == 0 %}No hay reviews{% else %} {{ product.get_rating|floatformat:1 }} {% endif %}</p>
                                {% if product.quantity_available < 1 %}
                                    <span class="badge badge-danger">Agotado</span>
                                {% else %}
                                    <span class="badge badge-success">Disponible</span>
                                {% endif %}
                                
                                <hr>
                                <span class="float-left card-text">{% if product.disccount %}
                                    <del style="color: grey;">C${{ product.original_price}}</del>
                                    <strong> C${{ product.price|floatformat:2 }}</strong>
                                {% else %}
                                   <strong>C${{ product.price }}</strong>
                                {% endif %}</span>

                                <span class="float-right">
                                    <a class="material-tooltip-main" id="ver" data-toggle="tooltip" data-placement="top" title="Ver mas" href="{% url 'product_detail' product.category.slug product.slug %}">
                                        <i class="fas fa-eye ml-3"></i>
                                      </a>
                                      <a href="{% url 'add-favorite' product.slug %}" class="material-tooltip-main" id="cora" data-toggle="tooltip" data-placement="top" title="Añadir a Favoritos">
                                        <i class="fas fa-heart ml-3"></i>
                                      </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}
                
                    {% endif %}
            </div>
     
        </div>
    </div>
</div>



    


{% endblock %}
