{% extends 'base.html' %}

{% block title %} Favoritos | {% endblock %}
{% block content %}
<div class="pt-2 px-md-4 mb-3 bg-white border-bottom shadow-sm" id="search-query">
   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: white;">
            <li class="breadcrumb-item"><a href="{% url 'frontpage' %}" style="color: black;">Inicio</a></li>
            <li class="breadcrumb-item active" >Mis Listas</li>
        </ol>
 
    </nav>
</div>


<div class="container">
    <h3 class="font-weight-bold">Lista de Favoritos</h3>
    <hr>
    <div class="row mt-4">
      <div class="col-md-4 mb-3">
        <div class="card view-overlay h-100">
          <a href="{% url 'create-lista' %}" style="color:black;" class="my-auto">
            <div class="card-body text-center my-auto ">
              <div class="mask rgba-white">
              <i class="fas fa-plus  fa-3x"></i>
              <h4 class="mt-4">Añadir Lista</h4>
          

              </div>

            </div>
          </a>

        </div>
      </div>

      {% for lista in lista %}
        <div class="col-md-4 mb-3">
            <div class="card p-2">
                <div class="card-body">
                    <a href="{% url 'view-lista' lista.id %}"><h4 class="font-weight-bold card-title text-center mb-5 mt-2" style="color: black">{{lista.name}}</h4></a>
                    <hr>
                    <a href="{% url 'view-lista' lista.id %}" class="">Ver  | </a>
                    <a href="{% url 'delete_lista' lista.id %}" class="">Eliminar </a>

                </div>
                
            </div>
        </div>
        {% endfor %}

    </div>
    
</div>


{% endblock %}