{% extends 'base.html' %}

{% block title %} Favoritos | {% endblock %}
{% block content %}
<div class="pt-2 px-md-4 mb-3 bg-white border-bottom shadow-sm" id="search-query">
   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: white;">
            <li class="breadcrumb-item"><a href="{% url 'frontpage' %}" style="color: black;">Inicio</a></li>
            <li class="breadcrumb-item active" >Lista de Favoritos</li>
        </ol>
 
    </nav>
</div>


<div class="container">
    <div class="table-responsive text-nowrap card p-4">
        <h2 class="text-center">Lista de Favoritos</h2>
        <table class="table">
            <thead>
                <tr>
                    <th class="font-weight-bold"></th>
                    <th class="font-weight-bold">Nombre del Producto</th>
                    <th class="font-weight-bold">Precio</th>
                </tr>
            </thead>

            <tbody>
                {% for liked in liked %}
                    <tr>
                        <td class="view overlay"><img src="{{liked.product.thumbnail.url}}" class="Generic placeholder image"alt="" width="100px">
                            <a href="{% url 'product_detail' liked.product.category.slug liked.product.slug %}">
                              <div class="mask rgba-white-light">
                
                              </div>
                          </a></td>

                          <td> <a href="{% url 'product_detail' liked.product.category.slug liked.product.slug %}" >{{ liked.product.name }}</a>
                            <p class="mt-2 grey-text">{{ liked.product.brand.name }}</p>
                            {% if liked.product.disccount %}
                                            <span class="badge blue">Descuento</span>
                                            {% endif %}
                            {% if liked.product.quantity_available < 1 %}
                                    <span class="badge badge-danger">Agotado</span>
                            {% else %}
                                    <span class="badge badge-success">Disponible</span>
                            {% endif %}
                          </td>

                          <td>C${{ liked.product.price|floatformat:2 }}
                            <div class="float-right ">
                                {% if liked.product.quantity_available < 1 %}
                                <a href="{% url 'add-to-cart' liked.product.slug %}" class="disabled">
                                    <i class="fas fa-shopping-cart mr-2" id="cora" title="Añadir al carrito"></i>
                                  </a>
                                {% else %}
                                <a href="{% url 'add-to-cart' liked.product.slug %}">
                                  <i class="fas fa-shopping-cart mr-2" id="cora" title="Añadir al carrito"></i>
                                </a>
                                {% endif %}
                                <a href="{% url 'remove-from-list' liked.product.slug %}">
                                  <i class="fas fa-trash " id="cora" title="Eliminar" ></i>
                                </a>
                            </div>
                          </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No tienes productos en tu lista</td>
                        <td >
                          <a href="{% url 'frontpage' %}" class="btn btn-primary float-right">Seguir comprando</a>
                        </td>
                      </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}