{% extends 'baseadmin.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>

</div>
<div class="row mt-4">
    <div class="col-md-4 mb-3">
        <div class="card p-4 text-center">
            <h5 class="card-title font-weight-bold">Ordenes Totales</h5>
            <hr>
            <h4 class="card-title">{{total_orders}}</h4>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card p-4 text-center">
            <h5 class="card-title font-weight-bold">Ordenes Entregadas</h5>
            <hr>
            <h4 class="card-title">{{delivered}}</h4>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card p-4 text-center">
            <h5 class="card-title font-weight-bold">Ordenes Pendientes</h5>
            <hr>
            <h4 class="card-title">{{pending}}</h4>
        </div>
    </div>

</div>

<h1 class="h2 mt-4">Estadisticas de Ordenes</h1>
<hr>
            <div class="table-responsive text-nowrap table-hover">

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="font-weight-bold text-center"></th>
                      <th scope="col" class="font-weight-bold text-center">Hoy</th>
                      <th scope="col" class="font-weight-bold text-center">Esta Semana</th>
                      <th scope="col" class="font-weight-bold text-center">Este Mes</th>
                      <th scope="col" class="font-weight-bold text-center">Este Año</th>
                      <th scope="col" class="font-weight-bold text-center">Todo el Tiempo</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td scope="row">Pendientes</td>
                      <td class="text-center">{{pending_today.count}}</td>
                      <td class="text-center">0</td>
                      <td class="text-center">0</td>
                      <td class="text-center">0</td>
                      <td class="text-center">0</td>
                    </tr>
                    <tr>
                      <td scope="row">Entregadas</td>
                      <td class="text-center">0</td>
                      <td class="text-center">0</td>
                      <td class="text-center">0</td>
                      <td class="text-center">0</td>
                      <td class="text-center">0</td>
                    </tr>
                    <tr>
                      <td scope="row">Total</td>
                      <td class="text-center">C${{q|floatformat:2}}</td>
                      <td class="text-center">C$0</td>
                      <td class="text-center">C$0</td>
                      <td class="text-center">C$0</td>
                      <td class="text-center">C$0</td>
                    </tr>
                  </tbody>
                </table>
              
              </div>
{% endblock %}