{% extends 'base.html' %}

{% block title %} Favoritos | {% endblock %}
{% block content %}
<div class="pt-2 px-md-4 mb-3 bg-white border-bottom shadow-sm" id="search-query">
   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: white;">
            <li class="breadcrumb-item"><a href="{% url 'frontpage' %}" style="color: black;">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'favorites' %}" style="color: black;">Mis Listas</a></li>
            <li class="breadcrumb-item active" >{{lista.name}}</li>
        </ol>
 
    </nav>
</div>

<div class="container">

    <div class="table-responsive text-nowrap card p-4">
        <h3>Productos en tu lista</h3>
        <hr>
        <table class="table">
            <thead>
              <tr>   
                <th class="font-weight-bold text-center"></th>
                <th class="font-weight-bold" scope="col">Nombre del producto</th>
                <th class="font-weight-bold " scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
                {% if liked|length > 0 %}
                {% for product in liked %}
                <tr>
                    <td class="view overlay"><img src="{{product.product.thumbnail.url}}" class="Generic placeholder image"alt="{{product.product.name}}" width="100px">
                        <a href="{% url 'product_detail' product.product.category.slug product.product.slug %}">
                          <div class="mask rgba-white-light">
            
                          </div>
                        </a>
                    </td>

                    <td> <a href="{% url 'product_detail' product.product.category.slug product.product.slug %}" >{{ product.product.name }}</a>
                        <p class="mt-2 grey-text">{{ product.product.brand.name }}</p>
                        {% if product.product.disccount %}
                                        <span class="badge blue">Descuento</span>
                                        {% endif %}
                        {% if product.product.quantity_available < 1 %}
                                <span class="badge badge-danger">Agotado</span>

                        {% elif product.product.alta %}
                                <span class="badge badge-danger">No disponible</span>
                        {% else %}
                                 <span class="badge badge-success">Disponible</span>
                        {% endif %}

                
                      </td>

                      <td>C${{ product.product.price|floatformat:2 }}
                        <div class="float-right ">
                            {% if product.product.quantity_available < 1 %}
                            <a href="{% url 'add-to-cart' product.product.slug %}" class="disabled">
                                <i class="fas fa-shopping-cart mr-2" id="cora" title="Mover al carrito"></i>
                              </a>

                            {% elif product.product.alta %}
                            <a href="{% url 'add-to-cart' product.product.slug %}" class="disabled">
                              <i class="fas fa-shopping-cart mr-2" id="cora" title="Mover al carrito"></i>
                            </a>
                            {% else %}
                            <a href="{% url 'add-to-cart' product.product.slug %}">
                              <i class="fas fa-shopping-cart mr-2" id="cora" title="Mover al carrito"></i>
                            </a>
                            {% endif %}
                            <a href="#">
                              <i class="fas fa-trash " id="cora" title="Eliminar" ></i>
                            </a>
                        </div>
                      </td>
                </tr>
                {% endfor %}

                {% else %}
                <tr>
                    <td colspan="5">No tienes productos en tu carrito</td>
                    <td >
                      <a href="{% url 'frontpage' %}" class="btn btn-primary float-right">Seguir comprando</a>
                    </td>
                  </tr>
                  

                {% endif %}

            </tbody>

        </table>


    </div>


</div>
{% endblock %}