{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Carrito | {% endblock %}

{% block content %}
<div class="pt-2 px-md-4 mb-3 bg-white border-bottom shadow-sm" id="search-query">
   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: white;">
            <li class="breadcrumb-item"><a href="{% url 'frontpage' %}" style="color: black;">Inicio</a></li>
            <li class="breadcrumb-item active" >Iniciar Sesión</li>
        </ol>
 
    </nav>
</div>
    <div class="mx-auto my-auto" style="width: 200px;">
    <form action="" method="POST">
        {% csrf_token %}
        
    
        <div class="form-group">
            <label class="" for="apellido">Username</label>
            <input type="text" name="username" class="form-control">
        </div>
    
        <div class="form-group">
            <label class="" for="apellido">Contraseña</label>
            <input type="password" name="password" class="form-control">
        </div>

    
        <div class="text-center">
        <input type="submit" value="Iniciar Sesion" class="btn  btn-success" >
       
    </div>
    </form>
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
    <div>
        <div>
            No tienes una Cuenta? <a href="{% url 'registerPage' %}" class="btn btn-info">Registrarse</a>
        </div>
    </div>
</div>

{% endblock %}


