{% extends 'baseadmin.html' %}
{% load static %}
{% load store_extras %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Ordenes</h1>

  </div>
    <div class="row">
        <div class="col-12 col-sm-3">
            <h4 class="d-flex justify-content-between align-items-center mb-3">Filtro</h4>

            <form action="{% url 'orders-admin' %}" method="GET">

                
                <p>Ordenar por:</p>
                <div class="form-group">
                    <input type="text" placeholder="Nombre del Usuario" class="form-control" id="usuario" name="user" >
                </div>
                <div class="form-group">
                    <select id="sorting" class="form-control browser-default custom-select" name="sorting" id="">
                            <option value="">Escoge...</option>
                            <option value="-ordered_date"{% if sorting == '-ordered_date' %} selected{% endif %}>Mas reciente</option>
                            <option value="ordered_date"{% if sorting == 'ordered_date' %} selected{% endif %}>Mas antiguo</option>
                            <option value="total"{% if sorting == 'total'%} selected{% endif %}>Total menor a mayor</option>
                            <option value="-total"{% if sorting == '-total'%} selected{% endif %}>Total mayor a menor</option>
                    </select>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="Pendiente" name="status" value="Pendiente" >
                    <label class="custom-control-label" for="Pendiente" style="cursor: pointer;">Pendientes</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="Camino" name="status" value="En Camino" >
                    <label class="custom-control-label" for="Camino" style="cursor: pointer;">En Camino</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="Entregado" name="status" value="Entregado">
                    <label class="custom-control-label" for="Entregado" style="cursor: pointer;">Entregado</label>
                    </div>
                </div>

                <p>Rango de fecha:</p>
                <div class="form-group">
                    <input type="date" class="form-control" name="from" placeholder="Desde">
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" name="to"  placeholder="Hasta">
                </div>
                

                <button class="btn btn-primary" type="submit">Filtrar</button>
                

            </form>


        </div>

        <div class="col">
            {% if order|length == 0 %}
                <h5>No se encontraron ordenes</h5>
            {% else %}
            <div class="table-responsive text-nowrap table-hover">

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="font-weight-bold">Orden #</th>
                      <th scope="col" class="font-weight-bold">Fecha</th>
                      <th scope="col" class="font-weight-bold">Estado</th>
                      <th scope="col" class="font-weight-bold">Usuario</th>
                      <th scope="col" class="font-weight-bold">Productos</th>
                      <th scope="col" class="font-weight-bold">Total</th>

                    </tr>
                  </thead>
                  <tbody>
                      {% for order in order %}
                    <tr>
                      <td scope="row"><a href="{% url 'order-detail-admin' order.id %}" style="color: #386eaf" id="ordenid">#00{{order.id}}</a></td>
                      <td>{{order.ordered_date|date:'M d, Y'}},
                          {{order.ordered_date|time}}
                      </td>
                      <td>{{order.status}}</td>
                      <td>{{order.user.usuario}}</td>
                      <td>{{order.products.count}}</td>
                      <td>C${{order.total|floatformat:2}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div class="text-center">
                    <ul class="pagination pagination-circle pg-blue">
                        
                        <li class="page-item"><a href="{% my_url 1 'page' request.GET.urlencode %}" class="page-link">Inicio</a></li>
                        {% if order.has_previous %}
            
                            <li class="page-item"><a href="{% my_url order.previous_page_number 'page' request.GET.urlencode %}" class="page-link">Anterior</a></li>
                        {% endif %}
            
                        {% for page in order.paginator %}
                        <li class="page-item" id="paginas"><a href="{% my_url page.number 'page' request.GET.urlencode %}" class="page-link">{{ page.number }}</a></li>
                        {% endfor %}
            
                        {% if order.has_next %}
                        <li class="page-item"><a href="{% my_url order.next_page_number 'page' request.GET.urlencode %}" class="page-link">Siguiente</a></li>
                        <li class="page-item"><a href="{% my_url order.paginator.num_pages 'page' request.GET.urlencode %}" class="page-link">Ultimo</a></li>
                        {% endif %}
            
                    </ul>
            
                </div>
              
              </div>
              {% endif %}
        </div>

    </div>





{% endblock %}