{% extends 'base.html' %}

{% block title %}{{ product.name }} | {% endblock %}

{% block content %}
<div id="productapp">
    <div class="column" class= "mr-4">
        <img :src="mainImage"  alt="">
        <hr>
        <div class="columns">
            <div  v-for="image in images">
                <figure style="cursor: pointer" class="thumbnail">
                    <img :src="image.thumbnail" @click="changeMainImage(image.image)" alt="">
                </figure>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center align-items-center">
  
    <div class="column">
        <h6>{{product.brand}}</h6>
        <h1>{{product.name}}</h1>
        <hr>
        <h3> {% if product.disccount_price %}
            <del>C${{ product.price }}</del>
            C${{ product.disccount_price }}
        {% else %}
        C${{ product.price }}
        {% endif %}</h3>
        <p>{{product.description}}</p>
        <form class="form-inline">
        <a href="{{ product.get_add_to_cart_url }}" class="btn btn-success mb-2">Añadir al carrito</a>
    </form>
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var productapp = new Vue({
        el: '#productapp',
        delimeters: ['[[', ']]'],
        data (){
            return{
                showMessage: false,
                mainImage: '{{ product.image.url }}',
                images: [{{ imagesstring|safe }}]
            }
        },
        mounted(){

        },
        methods:{
            changeMainImage(image){
                this.mainImage = image;
            }
        }
    });

</script>
{% endblock %}