{% extends 'base.html' %}

{% block title %}{{ product.name }} | {% endblock %}

{% block content %}
<div id="productapp">
    <img src="/{{ product.thumbnail }}" class="mx-auto">
    <hr>
    <div class="d-flex flex-wrap justify-content-center align-items-center">
    <div class="column">
        <h6>{{product.brand}}</h6>
        <h1>{{product.name}}</h1>
        <hr>
        <h3>C${{product.price}}</h3>
        <p>{{product.description}}</p>
        <form class="form-inline">
        <div class="form-group mb-2 mr-2">
            <input class="form-control" type="number"> 
        </div>
        <button class="btn btn-success mb-2">Añadir al carrito</button>
    </form>
    </div>
</div>
</div>
{% endblock %}
