{% extends 'base.html' %}
{% block title %}Registrarse | {% endblock %}

{% block content %}

<div class="pt-2 px-md-4 mb-3 bg-white border-bottom shadow-sm" id="search-query">
   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: white;">
            <li class="breadcrumb-item"><a href="{% url 'frontpage' %}" style="color: black;">Inicio</a></li>
            <li class="breadcrumb-item active" >Registrarse</li>
        </ol>
 
    </nav>
</div>
{% if form.errors %}
        
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ form.errors }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

{% endif %}
<div class="container mt-4" >
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 mx-auto">
            <form action="" method="POST" class="text-center card p-5">
                {% csrf_token %}
                
                <p class="h4 mb-4 font-weight-bold">Registrarse</p>
                <hr>
                <div class="form-row mb-4">
                    <div class="col">
                    <label for="nombre" class="">Nombre</label>
                    {{ form.first_name}} 
                    </div>
                    <div class="col">
                        <label class="" for="apellido">Apellido</label>
                        {{ form.last_name }} 
                    </div>
                </div>
            
                
                    <div class="form-group">
                        <label class="" for="apellido">Username</label>
                        {{ form.username }} 
                    </div>
    
                    <div class="form-group mb-4">
                        <label class="" for="apellido">Email</label>
                        {{ form.email }} 
                    </div>
            
                    
                <div class="form-group mb-4">
                    <label class="" for="apellido">Contraseña</label>
                    <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{form.password1.html_name}}" required>
                </div>
                
                <div class="form-group mb-4">
                    <label class="" for="apellido">Confirmar Contraseña</label>
                    <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="{{form.password2.html_name}}" required>
                </div>
            
                
                <input type="submit" value="Crear Usuario" class="btn  btn-success mb-4">
                
                <p>¿Ya tienes una cuenta?
                    <a href="{% url 'loginPage' %}" class="btn btn-info">Inicia Sesión</a>
                </p>
            </form> 
            
          
               
            
        </div>
    </div>
</div>

{% endblock %}

