{% extends 'base.html' %}
{% block title %}Registrarse | {% endblock %}

{% block content %}

<div class="pt-2 px-md-4 mb-3 bg-white border-bottom shadow-sm" id="search-query">
   
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: white;">
            <li class="breadcrumb-item"><a href="{% url 'frontpage' %}" style="color: black;">Inicio</a></li>
            <li class="breadcrumb-item active" >Registrarse</li>
        </ol>
 
    </nav>
</div>
    <div class="mx-auto my-auto" style="width: 200px;">
    <form action="" method="POST">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="nombre" class="">Nombre</label>
            <div class="input-group">
            {{ form.first_name}}
        </div>
        </div>
    
        <div class="form-group">
            <label class="" for="apellido">Apellido</label>
            <div class="input-group">  {{ form.last_name }} </div>
        </div>
    
        <div class="form-group">
            <label class="" for="apellido">Username</label>
            <div class="input-group"> {{ form.username }} </div>
        </div>
    
        <div class="form-group">
            <label class="" for="apellido">Email</label>
            <div class="input-group"> {{ form.email }} </div>
        </div>
    
        <div class="form-group">
            <label class="" for="apellido">Contraseña</label>
             {{ form.password1 }} 
        </div>
    
        <div class="form-group">
            <label class="" for="apellido">Confirmar Contraseña</label>
            <div class="input-group"> {{ form.password2 }} </div>
        </div>
    
        <div class="text-center">
        <input type="submit" value="Crear Usuario" class="btn  btn-success">

    </div>
    </form> 
    {{ form.errors }}
    <div>
        <div>
            Ya tienes una cuenta?<a href="{% url 'loginPage' %}" class="btn btn-info">Inicia Sesion</a>
        </div>
    </div>
</div>

{% endblock %}

